.card-light {
    background-color: #fff;
    border: none;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

.card-light:hover {
    background: linear-gradient(0deg, rgba(88, 92, 102, 0.27) 0%, rgba(88, 92, 102, 0.27) 100%), #FFF;
    cursor: pointer;
}

.card-light:hover .card-light-title {
    color: #3a4042;
}

.card-light:hover .card-light-text {
    color: #3a4042;
}

.card-light-title,
.card-light-text {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}


.card-light-text {
    margin-bottom: 0;
    color: #585C66;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 18.2px */
}

.card-light-title {
    font-size: 18px;
    font-weight: 500;
    color: #343a40;
    margin-bottom: 12px;
    font-style: normal;
    line-height: 110%; /* 19.8px */
    letter-spacing: -0.18px;
}