body,
text {
    font-family: 'Montserrat', sans-serif !important;
}
body{
    background-color: #F2F2F2;
    color: var(--31313C, #31313C);
    padding-bottom: 50px;
}
nav.navbar{
    background: #fff !important;
    padding: 25px 0;
}
body,
.footer {
    background-color: #F8F8F9;
}
.container{
    max-width: 1600px;
    padding: 0;
}
header{
    background: #fff;
}
h1{
    color: var(--31313C);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
}
.card {
    border: none;
    border-top: 1px solid #C4C8D4;
    background: none;
    transition: all 0.3s ease;
    /*margin-top: 24px;*/
    padding-top: 20px;
}

.card:hover {
    cursor: pointer;
}

.card:hover .card-title {
    color: #7b7b85;
}

.card:hover .card-text {
    color: #686c6e;
}

input#search,
h2,
span.small,
.card-title,
.card-text {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

h2,
span.small,
.card-title {
    color: #343a40;
    cursor: pointer;
}
.navbar-brand-title {
    margin-left: 76px;
}
.navbar-brand-title a{
    color: var(--ff-0-f-00, #E3000F);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}
hr {
    border: solid 1px #afb5b9;
}
.block-cursor{
    cursor: no-drop !important;
}
.card-text {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    color: #afb5b9;
}

.card-title {
    color: var(--31313C, #31313C);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
}

h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.33;
    cursor: default;
}

span.small {
    opacity: 0.6;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
}
#accordion .js_arrow_top{
    transform: rotate(0deg);
    margin-left: 30px;
}
.navbar-brand {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    color: #9aa3a7;
    cursor: default;
    display: flex;
}

.navbar-brand-title {
    margin-top: 4px;
}
.navbar-brand-title, a:hover {
    text-decoration: none;
}

.collapse.show, .collapsing{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#accordion .card-body {
    display: flex;
    justify-content: space-between;
}
#accordion .card > .card-body{
    padding-left: 0;
    padding-right: 0;
}
#accordion .card-body h2.card-title.d-inline-block{
    margin-bottom: 0;
}
#accordion .collapsed .js_arrow_top{
    transform: rotate(180deg);
}
#accordion .card-light .card-body {
    padding: 40px 30px 40px 40px;
}
#accordion .card-light .card-body .card-info h3{
    line-height: 110%;
    letter-spacing: -0.18px;
    margin-bottom: 12px;
}
#accordion .card-light .card-body .img{
    position: relative;
    top: -12px;
}

.navbar-dark {
    background-color: #343a40 !important;
}

.lang_tel{
    display: flex;
    align-items: center;
}
.phone_header {
    text-align: right;
    line-height: initial;
    margin-right: 20px;
}
.phone_header p{
    margin: 0;
}
.phone_header .zag{
    font-size: 12px;
    font-weight: 700;
}
.phone_header .time_work{
    font-size: 12px;
    color: #E3000F;
}
.phone_header a{
    font-size: 20px;
    color: #31313C;
    text-decoration: none;
}
.phone_header a img{
    display: none;
}
.search_wrapper {
    max-width: 600px;
    /*max-width: 100%;*/
}
.search_wrapper form{
    position: relative;
}
.search_wrapper button[type='submit']{
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 35px;
    border: none;
    background: transparent;
}
input#search {
    border-radius: 5.5px;
    border: 1.1px solid rgba(102, 102, 102, 0.30);
    color: var(--666666, #666);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 13px 14px;
    padding-left: 39px;
    min-width: 600px;
    max-width: 100%;
}
input#search:focus-visible {
    outline: none;
}

.dropbtn {
    padding: 5px;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgba(102, 102, 102, 0.30);
}
.dropdown img{
    margin-right: 5px;
    position: relative;
    top: -3px;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 70px;
}

.dropdown-background a:hover {
    background-color: #f1f1f1
}

.dropdown button{
    padding: 0;


}
.dropdown button.btn, .dropdown button.btn:focus{
    box-shadow: none;
}
.dropdown-menu{
    min-width: 97px;
    padding: 0;
}

.dropdown-menu span, .dropdown-menu a{
    display: block;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.dropdown-menu span{
    background: #E3E3E3;
}
.dropdown-menu a:hover{
    background: #E3E3E3;
}

.dropbtn::after {
    background: rgba(0, 0, 0, 0) url("../img/ic_keyboard_arrow_down_48px-16.png") no-repeat scroll center center;
    content: "";
    height: 16px;
    position: absolute;
    right: -20px;
    top: 7px;
    width: 16px;
    filter: invert(1);
}

.dropdown-content a:nth-child(1){
  background: url('../img//Russia-Flag-icon.png') no-repeat left center;
}
.dropdown-content a:nth-child(2){
  background: url('../img/flag-great-britain-icon.png') no-repeat left center;
}

.dropdown-content a {
    color: black;
    padding: 2px 0 2px 25px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
    padding: 0px 10px 5px 10px;
    background-color: white;
}
footer{
    background: #fff;
    text-align: center;
}
footer #copyright-footer{
    padding: 40px 0px;
    color: var(--585-c-66, #585C66);
    line-height: normal;
}

@media (max-width:1400px){
    .phone_header a {
        font-size: 16px;
    }
    .phone_header .time_work, .phone_header .zag {
        font-size: 9px;
    }
}
@media (max-width:1350px){
    .phone_header a img {
        display: block;
        width: 22px;
    }
    .phone_header .time_work, .phone_header .zag, .phone_header a span {
        display: none;
    }
}
@media (max-width:1250px){
    .navbar-brand-title {
        margin-left: 4px;
    }
    .search_wrapper, header nav .search_wrapper #ya-site-form0 .ya-site-form__form .ya-site-form__search-input-layout-l input.ya-site-form__input-text {
        max-width: 480px;
        min-width: 480px;
    }
}
@media (max-width:1174px){
    .navbar-light .navbar-brand{
        order: 1;
    }
    .navbar-light .search_wrapper{
        order: 3;
        margin: 33px auto 0 auto;
    }
    .lang_tel, .navbar-light .dropdown{
        order: 2;
    }
    .search_wrapper, header nav .search_wrapper #ya-site-form0 .ya-site-form__form .ya-site-form__search-input-layout-l input.ya-site-form__input-text {
        max-width: 600px;
        min-width: 600px;
    }
}
@media (max-width:1150px){
    nav.navbar {
        background: none !important;
        padding-top: 15px;
    }
    nav.navbar::before {
        content: '';
        display: block;
        width: 100%;
        height: 80px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
@media (max-width:991px){
    body{
        padding: 0;
    }
    footer.fixed-bottom{
        position: inherit;
    }
    .navbar-brand-title{
        display: none;
    }
    .search_wrapper{
        width: 100%;
    }
    input#search{
        min-width: 100%;
    }
    nav.navbar, .container-fluid, footer{
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    #accordion .card > .card-body {
        padding-bottom: 0;
    }

    .search_wrapper, header nav .search_wrapper #ya-site-form0 .ya-site-form__form .ya-site-form__search-input-layout-l input.ya-site-form__input-text {
        max-width: 100%;
        min-width: 100%;
    }
}
@media (max-width:767px){
    h1 {
        font-size: 20px;
        line-height: 130%;
    }
    h2, .card-title{
        font-size: 16px;
    }
    .card-light-title{
        font-size: 15px;
    }
    #accordion .card-light .card-body {
        padding: 20px;
    }
    footer #copyright-footer {
        padding: 20px 0;
    }
}