/**
Форма поиска
 */
.search_wrapper .ya-site-form__form .ya-site-form__search-input {
    padding: 0 !important;
}
.search_wrapper .ya-site-form__form .ya-site-form__search-input-layout {
    position: relative;
}
.search_wrapper .ya-site-form__form .ya-site-form__search-input-layout-l {
    position: relative;
}
.search_wrapper .ya-site-form__form .ya-site-form__search-input-layout-r {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 35px;
    border: none;
    background: transparent;
}
.search_wrapper #ya-site-form0 .ya-site-form__form .ya-site-form__search-input-layout-l input.ya-site-form__input-text{
    /*border-radius: 5.5px;*/
    /*border: 1.1px solid rgba(102, 102, 102, 0.30);*/
    color: #666;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 13px 14px;
    padding-left: 39px;
    min-width: 600px;
    max-width: 100%;
    border-radius: 5.5px !important;
    border: 1.1px solid rgba(102, 102, 102, 0.30) !important;
    border-color: rgba(102, 102, 102, 0.30) !important;
}
.search_wrapper .ya-site-form__form .ya-site-form__search-input-layout-r .ya-site-form__submit_type_image {
    background: url(/img/icon-search.svg) no-repeat !important;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 35px !important;
    border: none !important;
    display: inline-block !important;
    height: 100% !important;
    background-position: center center !important;
    margin-left: 0 !important;
}

/**
Результаты поиска
 */
#ya-site-results
{
    color: #343a40;
    background: #FFFFFF;
}

#ya-site-results .b-pager__current,
#ya-site-results .b-serp-item__number
{
    color: #343a40 !important;
}

#ya-site-results
{
    font-family: Arial !important;
}

#ya-site-results :visited,
#ya-site-results .b-pager :visited,
#ya-site-results .b-foot__link:visited,
#ya-site-results .b-copyright__link:visited
{
    color: #800080;
}

#ya-site-results a:link,
#ya-site-results a:active,
#ya-site-results .b-pseudo-link,
#ya-site-results .b-head-tabs__link,
#ya-site-results .b-head-tabs__link:link,
#ya-site-results .b-head-tabs__link:visited,
#ya-site-results .b-dropdown__list .b-pseudo-link,
#ya-site-results .b-dropdowna__switcher .b-pseudo-link,
.b-popupa .b-popupa__content .b-menu__item,
#ya-site-results .b-foot__link:link,
#ya-site-results .b-copyright__link:link,
#ya-site-results .b-serp-item__mime,
#ya-site-results .b-pager :link
{
    color: #0033FF;
}

#ya-site-results :link:hover,
#ya-site-results :visited:hover,
#ya-site-results .b-pseudo-link:hover
{
    color: #FF0000 !important;
}

#ya-site-results .l-page,
#ya-site-results .b-bottom-wizard
{
    font-size: 14px;
}

#ya-site-results .b-pager
{
    font-size: 1.25em;
}

#ya-site-results .b-serp-item__text,
#ya-site-results .ad
{
    font-style: normal;
    font-weight: normal;
}

#ya-site-results .b-serp-item__title-link,
#ya-site-results .ad .ad-link
{
    font-style: normal;
    font-weight: normal;
}

#ya-site-results .ad .ad-link a
{
    font-weight: bold;
}

#ya-site-results .b-serp-item__title,
#ya-site-results .ad .ad-link
{
    font-size: 16px;
}

#ya-site-results .b-serp-item__title-link:link,
#ya-site-results .b-serp-item__title-link
{
    font-size: 1em;
}

#ya-site-results .b-serp-item__number
{
    font-size: 13px;
}

#ya-site-results .ad .ad-link a
{
    font-size: 0.88em;
}

#ya-site-results .b-serp-url,
#ya-site-results .b-direct .url,
#ya-site-results .b-direct .url a:link,
#ya-site-results .b-direct .url a:visited
{
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    color: #329932;
}

#ya-site-results .b-serp-item__links-link
{
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    color: #343a40 !important;
}

#ya-site-results .b-pager__inactive,
#ya-site-results .b-serp-item__from,
#ya-site-results .b-direct__head-link,
#ya-site-results .b-image__title,
#ya-site-results .b-video__title
{
    color: #000000 !important;
}

#ya-site-results .b-pager__current,
#ya-site-results .b-pager__select
{
    background: #E0E0E0;
}

#ya-site-results .b-foot,
#ya-site-results .b-line
{
    border-top-color: #E0E0E0;
}

#ya-site-results .b-dropdown__popup .b-dropdown__list,
.b-popupa .b-popupa__content
{
    background-color: #FFFFFF;
}

.b-popupa .b-popupa__tail
{
    border-color: #E0E0E0 transparent;
}

.b-popupa .b-popupa__tail-i
{
    border-color: #FFFFFF transparent;
}

.b-popupa_direction_left.b-popupa_theme_ffffff .b-popupa__tail-i,
.b-popupa_direction_right.b-popupa_theme_ffffff .b-popupa__tail-i
{
    border-color: transparent #FFFFFF;
}

#ya-site-results .b-dropdowna__popup .b-menu_preset_vmenu .b-menu__separator
{
    border-color: #E0E0E0;
}

.b-specification-list,
.b-specification-list .b-pseudo-link,
.b-specification-item__content label,
.b-specification-item__content .b-link,
.b-specification-list .b-specification-list__reset .b-link
{
    color: #343a40 !important;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

.b-specification-item__content .b-calendar__title
{
    font-family: Arial;
    color: #343a40;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

.b-specification-item__content .b-calendar-month__day_now_yes
{
    color: #E0E0E0;
}

.b-specification-item__content .b-calendar .b-pseudo-link
{
    color: #343a40;
}

.b-specification-item__content
{
    font-family: Arial !important;
    font-size: 14px;
}

.b-specification-item__content :visited
{
    color: #800080;
}

.b-specification-item__content .b-pseudo-link:hover,
.b-specification-item__content :visited:hover
{
    color: #FF0000 !important;
}

#ya-site-results .b-popupa .b-popupa__tail-i
{
    background: #FFFFFF;
    border-color: #E0E0E0 !important;
}
@media (max-width:650px){
    .search_wrapper #ya-site-form0 .ya-site-form__form .ya-site-form__search-input-layout-l input.ya-site-form__input-text{
        min-width: 100%;
    }
}